  /* ----------------------------
             body style
  -------------------------------*/
  body{
    font-family: Poppins;
}
 /*------------------------------
          header style 
---------------------------------*/
.headding-section h3{
    font-size: 24px;
    color: #3A3A3A;
    font-weight: bold;
    margin-left: 40px;
}
/* ------------------------------
        First section style
-------------------------------- */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
}

.half-width-headding{
    font-size: 52px;
    color: #3A3A3A;
}
.half-width-paragraph{
    font-weight: 600;
    font-size: 16px;
}
.link-button{
    text-decoration: none;
    background-color: darkorchid;
    color: white;
    border-radius: 41px;
    font-family: Poppins;
    font-size: 16px;
    padding: 10px 24px 10px 24px;
}
 .half-width img{
    width: 400px;
    height: 380px;
    transition:width 2s ;
}
.half-width img:hover{
    width: 550px;
}
/*-------------------------------- 
      second section style
---------------------------------- */
.second-section-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 40px;
    margin-left: 40px;
}
.popular-collection{
    text-align: center;
    padding: 7px 0;
    font-weight: 600;
}
.card{
    width: 329px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 8px 8px 40px rgba(10, 10, 10, 0.15);
    border-radius: 5px;
}
.card img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: auto;
    display: block;
}
.card-hedding-three{
    font-size: 20px;
    color: #18191F;
    margin-left: 20px;
}
.card-headding-four{
    font-size: 14px;
    margin-left: 20px;
} 
.ratting{
    margin-left: 20px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #787885;
}
.card-paragraph{
    font-size: 14px;
    margin-left: 20px;
}
.see-more{
    text-align: end;
}
/* -----------------------------
       last section style
-------------------------------- */
.last-section  {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-left: 40px;
}
.last-section-half-another{
    text-align: center;
}
.button{
    background-color: darkorchid;
    color: white;
    padding: 3px 7px;
    border-radius: 41px;
    font-family: Poppins;
    font-size: 16px;
}
/* --------------------------
        media query
----------------------------- */
/* mobile device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .second-section{
        width: 100%;
    }
    .second-section-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        flex-direction: column;
    }
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .half-width{
        flex-direction: column;
    }
   .last-section{
       grid-template-columns: repeat(1, 1fr);
   }
   .last-section-half-one, .last-section-half-another{
       flex-direction: column;
   }
   
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width:992px) {
    
    .second-section-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ---------------------
      footer style
 ----------------------- */
.footer-section{
    height: 200px;
     width: auto; 
    background-color: #0A0826;
    color: #FFFFFF;
    text-align: center;
}
.footer-headding{
    padding-top: 20px;
}
